@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    background: #000;
}

@layer base {
    h3 {
        @apply text-2xl font-bold;
    }

    .progress-hovering {
        @apply hover:[&::-webkit-progress-value]:bg-gray-200;
    }

    .progress-not-hovering {
        @apply [&::-webkit-progress-value]:bg-gray-600;
    }
}

@layer components {
    .btn-primary {
        @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 active:bg-blue-400;
    }
    .btn-secondary {
        @apply px-4 py-2 font-bold text-white bg-gray-500 rounded hover:bg-gray-700 active:bg-gray-400 active:text-gray-200;
    }
    .btn-slate {
        @apply text-white bg-blue-500 rounded-md pa-2 hover:bg-slate-700 active:bg-slate-400;
    }
}

@layer utilities {
    .ma-2 {
      margin: 0.5rem;
    }
    .pa-2 {
      padding: 0.5rem;
    }
    
}

.input-form {
    @apply w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded-lg focus:outline-none focus:bg-white focus:border-blue-500;
}

.card-1 {
    @apply flex flex-col items-center gap-3 bg-gray-100 rounded-sm columns-2 ma-2 pa-2 justify-items-center;
    flex-direction: column;
}

.input-primary {
    @apply relative w-5/6 py-2 pl-12 leading-tight text-white outline-none bg-[#1a1a1a] rounded-sm appearance-none focus:border-separate focus:shadow-blue-500 shadow-lg transition-all;    
}

